<div ng-controller="gcmController">

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href>GCM App</a>
			</div>

			<div class="collapse navbar-collapse">
				<!-- Ministry, MCC, Period controls -->
				<ul class="nav navbar-nav" ng-if="current.assignment">

					<!-- Ministry Assignments -->
					<li class="dropdown">
						<a href="" class="dropdown-toggle  ministry-title" data-toggle="dropdown">{{current.assignment.name}}
							<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="a in current.assignments | orderBy:'name'" ng-include="'field_renderer.html'"></li>
							<li class="divider"></li>
							<li>
								<a href ng-click="joinMinistry(true)">Add another location / ministry</a>
							</li>
						</ul>
					</li>

					<!-- Mission Critical Components -->
					<li class="dropdown" ng-if="current.assignment.mccs.length > 0">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">{{mccLabels[current.mcc]}}
							<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="mcc in current.assignment.mccs | orderBy:mccSort">
								<a href ng-click="current.mcc = mcc">{{mccLabels[mcc]}}</a>
							</li>
						</ul>
					</li>

					<!-- Period -->
					<li>
						<a href ng-click="prevPeriod()"><span class="glyphicon glyphicon-chevron-left"></span></a>
					</li>
					<li class="dropdown">
						<a href class="dropdown-toggle" data-toggle="dropdown">
							{{current.period.format('YYYY-MM')}} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="period in periods">
								<a href ng-click="current.period = period">{{period.format('YYYY-MM')}}</a>
							</li>
						</ul>
					</li>
					<li>
						<a href ng-click="nextPeriod()"><span class="glyphicon glyphicon-chevron-right"></span></a>
					</li>
				</ul>

				<!-- Current User / Logout -->
				<ul class="nav navbar-nav navbar-right" ng-if="current.user">
					<li class="dropdown">
						<a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							{{current.user.cas_username}} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href ng-click="logout()">Logout</a></li>
							<li><a href ng-click="invalidateSession()">DEBUG: Invalidate Session</a></li>
						</ul>
					</li>
				</ul>
			</div>

		</div>
	</nav>

	<div class="container">
		<div ng-show="current.assignment">
			<ul class="nav nav-tabs" role="tablist" id="myTab" class="map-ministries">
				<li ng-class="{active: $location.path() === '/map'}"><a href="#/map">Church</a></li>
				<li ng-class="{active: $location.path() === '/measurements'}">
					<a href="#/measurements">Measurements</a></li>
				<li ng-class="{active: $location.path() === '/admin'}">
					<a href="#/admin" ng-show="current.assignment.team_role === 'leader' || current.assignment.team_role === 'inherited_leader'">Admin</a>
				</li>
			</ul>

			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-12">
					<!--Let it up to the Angular route provider to populate the view in the directive-->
					<div ng-view></div>
					<div class="spinner" ng-hide="current.isLoaded">
						<div class="spinner-container container1">
							<div class="circle1"></div>
							<div class="circle2"></div>
							<div class="circle3"></div>
							<div class="circle4"></div>
						</div>
						<div class="spinner-container container2">
							<div class="circle1"></div>
							<div class="circle2"></div>
							<div class="circle3"></div>
							<div class="circle4"></div>
						</div>
						<div class="spinner-container container3">
							<div class="circle1"></div>
							<div class="circle2"></div>
							<div class="circle3"></div>
							<div class="circle4"></div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<footer>
			<p>&copy; Campus Crusade for Christ 2014</p>
		</footer>
	</div>

	<!-- Ministry/Team Dropdown elements -->
	<script type="text/ng-template" id="field_renderer.html">
		<a href ng-click="current.assignment = a">{{a.name}}</a>
		<ul>
			<li ng-repeat="a in a.sub_ministries" ng-include="'field_renderer.html'"></li>
		</ul>
	</script>

	<!-- Join new Ministry/Team Modal -->
	<script type="text/ng-template" id="join_ministry.html">
		<div class="modal-header">
			<h3 class="modal-title">Join Ministry/Team</h3>

			<p class="bg-info">
				You can request create a provisional assignment to ministry/team here.
				Until this request has been approved by a leader of this team/ministry, your access will be read only.
				You can submit personal ministry measurements, but these values won't be included until your request has been approved.
			</p>
		</div>
		<div class="modal-body form-horizontal">
			<div class="form-group">
				<label for="ministryName" class="col-xs-4 control-label">Ministry/Team:</label>

				<div class="col-xs-8">
					<input id="ministryName" class="form-control" ng-model="ministry"
						   typeahead="m as m.name for m in ministries | filter:$viewValue | limitTo:8"
						   typeahead-min-length="2" typeahead-editable="false" />

					<p class="help-block">Start typing to search for ministry</p>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" ng-disabled="!ministry" ng-click="join()">Join Ministry/Team</button>
			<button ng-if="allowClose" type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
		</div>
	</script>

</div>
