<div class="panel panel-default" ng-show="current.isLoaded">
	<div class="panel-body">
		<form name="lmiForm">
			<fieldset>
				<legend>Local Movement Indicators</legend>

				<table class="lmi_table">
					<thead>
					<tr>
						<!-- title-->
						<th></th>
						<th>
							<h1>
								<small>Faith Actions</small>
							</h1>
						</th>
						<th></th>
						<th>
							<h1>
								<small>Fruit</small>
							</h1>
						</th>
						<th></th>
						<th>
							<h1>
								<small>Outcome</small>
							</h1>
						</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<!-- win-->
						<td class="vertical-text">
							<h1>
								<small>Win</small>
							</h1>
						</td>
						<td>
							<div ng-repeat="m in measurements | filter: {section: 'win', column:'faith'} | orderBy:'sort_order'" ng-include="'lmi_renderer.html'"></div>
						</td>
						<td>
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
						<td>
							<div ng-repeat="m in measurements | filter: {section: 'win', column: 'fruit'} | orderBy:'sort_order'" ng-include="'lmi_renderer.html'"></div>
						</td>
						<td rowspan="3">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
						<td rowspan="3">
							<div ng-repeat="m in measurements | filter:{column: 'outcome'} | orderBy:'sort_order'" ng-include="'lmi_renderer.html'"></div>
						</td>
					</tr>
					<tr>
						<!-- build-->
						<td class="vertical-text">
							<h1>
								<small>Build</small>
							</h1>
						</td>
						<td>
							<div ng-repeat="m in measurements | filter: {section: 'build', column: 'faith'} | orderBy:'sort_order'" ng-include="'lmi_renderer.html'"></div>
						</td>
						<td>
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
						<td>
							<div ng-repeat="m in measurements | filter: {section: 'build', column: 'fruit'} | orderBy:'sort_order'" ng-include="'lmi_renderer.html'"></div>
						</td>

					</tr>
					<tr>
						<!-- send-->
						<td class="vertical-text">
							<h1>
								<small>Send</small>
							</h1>
						</td>
						<td>
							<div ng-repeat="m in measurements | filter: {section: 'send', column: 'faith'} | orderBy:'sort_order'" ng-include="'lmi_renderer.html'"></div>
						</td>
						<td>
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
						<td>
							<div ng-repeat="m in measurements | filter: {section: 'send', column: 'fruit'} | orderBy:'sort_order'" ng-include="'lmi_renderer.html'"></div>
						</td>
					</tr>
					</tbody>
				</table>
			</fieldset>
			<fieldset ng-if="hasOther()">
				<legend>Other Measurements</legend>
				<div>
					<div class="col-lg-3" ng-repeat="m in measurements | filter: {section: 'other', column: 'other'} | orderBy:'sort_order'" ng-include="'lmi_renderer.html'"></div>
				</div>
			</fieldset>
		</form>
		<div class="pull-right" ng-if="current.assignment.team_role == 'self_assigned' && lmiForm.$dirty">
			<button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="!lmiForm.$valid">Save Changes</button>
		</div>
	</div>
</div>

<script type="text/ng-template" id="lmi_renderer.html">
	<div class="input-group lmi-input-group">
		<span class="input-group-addon lmi-input-name">{{ m.name }}</span>
		<span ng-switch="current.assignment.team_role">
			<input ng-switch-when="self_assigned" class="lmi-input-value numeric" type="number" name="{{m.perm_link}}" ng-model="m.person" min="0" />
			<a ng-switch-default href ng-click="editMeasurementDetails(m);">
				<div class="lmi-input-value numeric">{{m.total}}</div>
			</a>
		</span>
	</div>
</script>

<script type="text/ng-template" id="measurement_details.html">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close();">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<h2 class="modal-title">{{measurement.name}}
			<small>{{current.period.format('YYYY-MM')}}</small>
		</h2>
		<div class="well well-sm measurement-desc">{{measurement.description}}</div>
	</div>
	<div class="modal-body edit_meas_form" ng-if="spinner">
		<div class="spinner">
			<div class="spinner-container container1">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container2">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container3">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
		</div>
	</div>
	<div class="modal-body edit_meas_form" ng-if="!spinner">
		<div id="measurement_graph" measurements-trend ng-model="trend"></div>

		<form class="form-horizontal" name="editForm">

			<!-- Local Breakdown -->
			<fieldset ng-if="current.hasRole(['leader', 'inherited_leader'])">
				<legend>{{current.assignment.name}} (Local):</legend>
				<div class="form-group" ng-repeat="(name, value) in filterSource(details.local_breakdown)">
					<label class="col-xs-5 control-label">{{name}}</label>

					<div class="col-xs-7">
						<input class="form-control" type="number" disabled ng-model="value" />
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': !editForm.local.$valid}">
					<label class="col-xs-5 control-label">Local</label>

					<div class="col-xs-7">
						<input class="form-control" type="number" placeholder="Local" name="local" ng-model="details.local_breakdown[ns]" />
					</div>
				</div>
			</fieldset>
			<fieldset ng-if="current.hasRole('member')">
				<legend>{{current.assignment.name}} (Local):</legend>
				<div class="form-group">
					<label class="col-xs-5 control-label">Total</label>

					<div class="col-xs-7">
						<input class="form-control" type="number" ng-model="details.local_breakdown.total" disabled />
					</div>
				</div>
			</fieldset>

			<!-- Sub Ministries -->
			<fieldset ng-if="details.sub_ministries.length > 0">
				<legend>Sub-Ministries / Teams:</legend>
				<div class="form-group" ng-repeat="ministry in details.sub_ministries">
					<label class="col-xs-5 control-label">{{ministry.name}}</label>

					<div class="col-xs-7">
						<input class="form-control" type="number" disabled ng-model="ministry.total" />
					</div>
				</div>
			</fieldset>

			<!-- Team Members -->
			<fieldset>
				<legend>Team Members:</legend>
				<div class="form-group" ng-class="{'has-error': !editForm.personal.$valid}" ng-if="current.hasRole(['member','leader'])">
					<label class="col-xs-5 control-label">{{current.user.last_name}}, {{current.user.first_name}}</label>

					<div class="col-xs-7">
						<input class="form-control" type="number" placeholder="Personal" name="personal" ng-model="details.my_measurements[ current.period.format('YYYY-MM') ]" />
					</div>
				</div>
				<div class="form-group" ng-repeat="member in details.team" ng-if="current.hasRole(['leader', 'inherited_leader'])">
					<label class="col-xs-5 control-label">{{member.last_name}}, {{member.first_name}}</label>

					<div class="col-xs-7">
						<input class="form-control" type="number" ng-model="member.total" disabled />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 control-label">TOTAL</label>

					<div class="col-xs-7">
						<input class="form-control" type="number" ng-model="details.total[current.period.format('YYYY-MM')]" disabled />
					</div>
				</div>
			</fieldset>

			<!-- Self Assigned -->
			<fieldset ng-if="current.hasRole(['leader', 'inherited_leader']) && details.self_assigned.length > 0">
				<legend>Self Assigned Members (not yet approved)</legend>
				<div class="form-group" ng-repeat="member in details.self_assigned">
					<label class="col-sm-5 control-label">{{member.last_name}}, {{member.first_name}}</label>

					<div class="col-sm-7">
						<input class="form-control" type="number" ng-model="member.total" disabled />
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="!editForm.$valid">Save Measurements</button>
		<button type="button" class="btn btn-default" ng-click="close()">Close</button>
	</div>
</script>
