<div class="modal-header">
    <button type="button" class="close" ng-click="no()">
        <span aria-hidden="true">&times;</span><span class="sr-only" translate>Close</span></button>
    <h4 class="modal-title" translate>Confirm ?</h4>
</div>
<div class="panel-body">
    <h4 translate>Are you sure you want to delete ?</h4>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="no()"><i class="glyphicon glyphicon-remove"></i> <span translate>No</span></button>
    <button type="button" class="btn btn-primary" ng-click="yes()"><i class="glyphicon glyphicon-ok"></i> <span translate>Yes</span></button>
</div>

