<div id="edit_target_city_window">
    <div class="clearfix"></div>
    <div class='target-city-window'>
        <h4 translate>Edit Target City </h4>

        <table class="table table-condensed">
            <tr>
                <td><b translate>Name:</b></td>
                <td>
                    <input type="text" class="form-control input-sm" maxlength="200" placeholder="{{'Name'|translate}}" ng-model="edit_targetCity.name" />
                </td>
            </tr>
            <tr ng-if="current.assignment.area_code==='GLBL'">
                <td><b translate>Area:</b></td>
                <td>
                    <select class="form-control input-sm" ng-options="area.code as area.name for area in area_codes" ng-model="edit_targetCity.area_code">
                        <optgroup label="Select an area"></optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <td><b translate>Country:</b></td>
                <td>
                    <select class="form-control input-sm" ng-options="lang.iso3 as lang.name for lang in ISOCountries" ng-model="edit_targetCity.iso_country_code">
                        <optgroup label="Select country"></optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <td><b translate>Stage:</b></td>
                <td>
                    <select class="form-control input-sm" ng-model="edit_targetCity.stage" ng-change="edit_targetCity.substage=''">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><b translate>Sub Stage:</b></td>
                <td>
                    <select class="form-control input-sm" ng-options="substage.val as substage.name for substage in targetCitySubStages | filter :{ stage : edit_targetCity.stage }" ng-model="edit_targetCity.substage">
                        <option value=""  translate>None</option>
                    </select>
                </td>
            </tr>
        </table>

        <div>
            <div class="btn-group btn-group-sm btn-group-justified" role="group">
                <div class="btn-group btn-group-sm dropup" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                        <span translate>Options</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href ng-click="makeMovableIcon.MoveTargetCity()">
                                <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                                <span translate>Move TargetCity</span></a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li>
                            <a href ng-click="DeleteTargetCity(edit_targetCity)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <span translate>Delete TargetCity</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <a href class="btn btn-primary" ng-click="updateTargetCity(edit_targetCity)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> <span  translate>Save Changes</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
