<div id="map_canvas" style="width: 100%; height: 650px;"></div>

<div id="side" class="map_side" ng-show="current.isLoaded">

	<button title="Create new target point" type="button" class="btn btn-default btn-sm" ng-click="onAddIcon()" ng-if="current.mcc == 'gcm'">
		<i class="glyphicon glyphicon-plus"></i> <img ng-src="{{versionUrl('img/icon/target.png')}}" height="25" alt="+" />
	</button>

	<button title="Create new training" type="button" class="btn btn-default btn-sm" ng-click="onAddTraining()" ng-if="current.mcc.length>0">
        <i class="glyphicon glyphicon-plus"></i> <img ng-src="{{versionUrl('img/icon/training.png')}}" height="25" alt="+" />
	</button>

    <button title="Create new target city" type="button" class="btn btn-default btn-sm" ng-click="onAddTargetCity()" ng-if="isTargetCitiesVisible===true">
        <i class="glyphicon glyphicon-plus"></i> <img ng-src="{{versionUrl('img/icon/target-city.png')}}" height="25" alt="+" />
    </button>

	<button title="My location on map" type="button" class="btn btn-default btn-my-location btn-sm" ng-click="myLocation()" ng-if="supportsGeoLocation">
		<span class="glyphicon glyphicon-screenshot"></span>
	</button>

	<div class="map_legend_header" ng-click="show_legend = !show_legend">
		<span>LEGEND <i class="glyphicon " ng-class="{'glyphicon-triangle-top': (show_legend===true), 'glyphicon-triangle-bottom' : (show_legend===false) }"></i> </span>
    </div>
	
	<table class="map_legend" ng-show="show_legend" ng-init="show_legend=true">
		<tbody>
		<tr ng-if="current.mcc == 'gcm'">
			<td>
				<input type="checkbox" id="targetPointCheckBox" class="church_development_checkbox" ng-model="$parent.iconFilters.target_point" development="1" ng-change="loadChurches()">
			</td>
			<td style="text-align:center; padding:2px 12px">
				<img class="map_legend_icon" ng-src="{{versionUrl('img/icon/target.png')}}"></td>
			<td><label for="targetPointCheckBox" translate>Target point</label></td>
		</tr>

		<tr ng-if="current.mcc == 'gcm'">
			<td>
				<input type="checkbox" id="groupPeopleCheckBox" class="church_development_checkbox" ng-model="$parent.iconFilters.group" development="2" ng-change="loadChurches()">
			</td>
			<td style="text-align:center; padding:2px 12px">
				<img class="map_legend_icon" ng-src="{{versionUrl('img/icon/group.png')}}"></td>
			<td><label for="groupPeopleCheckBox" translate>Group</label></td>
		</tr>

		<tr ng-if="current.mcc == 'gcm'">
			<td>
				<input type="checkbox" id="churchOrCummunityCheckBox" class="church_development_checkbox" ng-model="$parent.iconFilters.church" development="3" ng-change="loadChurches()">
			</td>
			<td style="text-align:center; padding:2px 12px">
				<img class="map_legend_icon" ng-src="{{versionUrl('img/icon/church.png')}}"></td>
			<td><label for="churchOrCummunityCheckBox" translate>Church or community of disciples</label></td>
		</tr>

		<tr ng-if="current.mcc == 'gcm'">
			<td>
				<input type="checkbox" id="multiplyingChurchCheckBox" class="church_development_checkbox" ng-model="$parent.iconFilters.mult_church" development="5" ng-change="loadChurches()">
			</td>
			<td style="text-align:center; padding:2px 12px">
				<img class="map_legend_icon" ng-src="{{versionUrl('img/icon/multiplying.png')}}">
			</td>
			<td><label for="multiplyingChurchCheckBox" translate>Multiplying church or community of disciples</label></td>
		</tr>

        <tr ng-if="isTargetCitiesVisible===true">
            <td>
                <input type="checkbox" id="targetCityCheckBox" class="church_development_checkbox" ng-model="iconFilters.targetCity" development="6">
            </td>
            <td style="text-align:center; padding:2px 12px">
                <img class="map_legend_icon" ng-src="{{versionUrl('img/icon/target-city.png')}}"></td>
            <td><label for="targetCityCheckBox" translate>Target city</label></td>
        </tr>

		<tr>
			<td>
				<input type="checkbox" id="trainingActivityCheckBox" class="church_development_checkbox" ng-model="iconFilters.training">
			</td>
			<td style="text-align:center; padding:2px 12px">
				<img class="map_legend_icon" ng-src="{{versionUrl('img/icon/training.png')}}"></td>
			<td><label for="trainingActivityCheckBox" translate>Training activity</label></td>
		</tr>

		<tr ng-if="current.mcc == 'gcm'">
			<td><input type="checkbox" id="jesusFilmCheckBox" ng-model="$parent.iconFilters.jesus_film"></td>
			<td style="text-align:center; padding:2px 12px">
				<div style="display:inline-block; font-size:10px; font-weight:bold; border:1px solid #2a6800; padding:0px 3px; background-color:yellow; color:black">1</div>
			</td>
			<td><label for="jesusFilmCheckBox" translate>Jesus Film contribution</label></td>
		</tr>

		<tr ng-if="current.mcc == 'gcm'">
			<td><input type="checkbox" id="parentLineCheckBox" ng-model="$parent.iconFilters.parent_lines"></td>
			<td style="text-align:center; padding:2px 12px">
				<div style="display:inline-block; width:14px; height:2px;  background-color:grey"></div>
			</td>
			<td><label for="parentLineCheckBox" translate>Parent lines</label></td>
		</tr>

		</tbody>
	</table>
	
	<div ng-if="current.mcc == 'gcm'">
		<div class="map_legend_header" ng-click="show_filters = !show_filters">
			<span>FILTERS <i class="glyphicon " ng-class="{'glyphicon-triangle-top': (show_filters===true), 'glyphicon-triangle-bottom' : (show_filters===false) }"></i> </span>
        </div>
		<div class="map-legend" ng-show="show_filters" ng-init="show_filters=true">
			<div class="radio">
				<label>
					<input type="radio" name="map_scope_filter" id="filter_everything" ng-model="$parent.map_scope_filter" value="everything">
					<span translate>Everything</span>
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="map_scope_filter" id="filter_my_target_area_only" ng-model="$parent.map_scope_filter" value="min_only">
					{{current.assignment.name}} <span translate>only</span>
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="map_scope_filter" id="filterMyTree" ng-model="$parent.map_scope_filter" value="tree">
					{{current.assignment.name}} + <span translate>tree</span>
				</label>
			</div>
		</div>
	</div>
	<hr style="margin:8px 0">
	<div>
		<button type="button" class="btn btn-default btn-block btn-sm" ng-click="setMyDefaultMapView()" translate>Set as my Ministry Default View</button>
		<button type="button" class="btn btn-default btn-block btn-sm" ng-click="setMinistryDefaultView()" ng-if="current.hasRole(['admin','inherited_admin'])" translate>Set Ministry Default View for others</button>
	</div>
</div>

<div id="map_controls" class="map-controls" ng-show="current.isLoaded" ng-init="mapExpended=false" ng-class="(mapExpended==true)?'map-search-expand':'map-search-collapse'">
	<div class="pull-left map-search">
		<div class="input-group">
			<input id="searchBox" type="text" class="form-control" placeholder="{{'Search'|translate}}..." ng-blur="mapExpended=!mapExpended">
			<span title="Click to expand/collapse search" ng-click="mapExpended=!mapExpended" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
		</div>
	</div>
</div>