<div id="map_canvas" style="width: 100%; height: 650px;"></div>

<div id="side" class="map_side" ng-show="current.isLoaded">

	<button type="button" class="btn btn-default" ng-click="onAddIcon()" ng-if="current.mcc == 'gcm'">
		<span class="glyphicon glyphicon-plus"></span>&nbsp;<img ng-src="{{versionUrl('img/icon/target.png')}}" style="max-height: 25px;" />
	</button>

	<button type="button" class="btn btn-default" ng-click="onAddTraining()">
		<span class="glyphicon glyphicon-plus"></span>&nbsp;<img ng-src="{{versionUrl('img/icon/training.png')}}" style="max-height: 25px;" />
	</button>

	<button type="button" class="btn btn-default btn-my-location" ng-click="myLocation()" ng-if="supportsGeoLocation">
		<span class="glyphicon glyphicon-screenshot"></span>
	</button>

	<div class="map_legend_header" ng-click="show_legend = !show_legend">
		<span>LEGEND<img class="showMoreArrow" ng-src="{{versionUrl('img/' + (show_legend ? 'up' : 'down') + '.png')}}" style="padding-left:10px"></span>
	</div>
	
	<table class="map_legend" ng-show="show_legend" ng-init="show_legend=true">
		<tbody>
		<tr ng-if="current.mcc == 'gcm'">
			<td>
				<input type="checkbox" class="church_development_checkbox" ng-model="$parent.show_target_point" development="1" ng-change="loadChurches()">
			</td>
			<td style="text-align:center; padding:2px 12px">
				<img class="map_legend_icon" ng-src="{{versionUrl('img/icon/target.png')}}"></td>
			<td>Target point</td>
		</tr>

		<tr ng-if="current.mcc == 'gcm'">
			<td>
				<input type="checkbox" class="church_development_checkbox" ng-model="$parent.show_group" development="2" ng-change="loadChurches()">
			</td>
			<td style="text-align:center; padding:2px 12px">
				<img class="map_legend_icon" ng-src="{{versionUrl('img/icon/group.png')}}"></td>
			<td>Group</td>
		</tr>

		<tr ng-if="current.mcc == 'gcm'">
			<td>
				<input type="checkbox" class="church_development_checkbox" ng-model="$parent.show_church" development="3" ng-change="loadChurches()">
			</td>
			<td style="text-align:center; padding:2px 12px">
				<img class="map_legend_icon" ng-src="{{versionUrl('img/icon/church.png')}}"></td>
			<td>Church or community of disciples</td>
		</tr>

		<tr ng-if="current.mcc == 'gcm'">
			<td>
				<input type="checkbox" class="church_development_checkbox" ng-model="$parent.show_mult_church" development="5" ng-change="loadChurches()">
			</td>
			<td style="text-align:center; padding:2px 12px">
				<img class="map_legend_icon" ng-src="{{versionUrl('img/icon/multiplying.png')}}">
			</td>
			<td>Multiplying church or community of disciples</td>
		</tr>

		<tr>
			<td>
				<input type="checkbox" class="church_development_checkbox" ng-model="show.training">
			</td>
			<td style="text-align:center; padding:2px 12px">
				<img class="map_legend_icon" ng-src="{{versionUrl('img/icon/training.png')}}"></td>
			<td>Training activity</td>
		</tr>

		<tr ng-if="current.mcc == 'gcm'">
			<td><input type="checkbox" id="jesusFilmCheckBox" ng-model="$parent.show_jf"></td>
			<td style="text-align:center; padding:2px 12px">
				<div style="display:inline-block; font-size:10px; font-weight:bold; border:1px solid #2a6800; padding:0px 3px; background-color:yellow; color:black">1</div>
			</td>
			<td>Jesus Film contribution</td>
		</tr>

		<tr ng-if="current.mcc == 'gcm'">
			<td><input type="checkbox" id="parentLineCheckBox" ng-model="$parent.show_lines"></td>
			<td style="text-align:center; padding:2px 12px">
				<div style="display:inline-block; width:14px; height:2px;  background-color:grey"></div>
			</td>
			<td>Parent lines</td>
		</tr>

		</tbody>
	</table>
	
	<div ng-if="current.mcc == 'gcm'">
		<div class="map_legend_header" ng-click="show_filters = !show_filters">
			<span>FILTERS<img class="showMoreArrow" ng-src="{{versionUrl('img/' + (show_filters ? 'up' : 'down') + '.png')}}" style="padding-left:10px"></span>
		</div>
		<div class="map-legend" ng-show="show_filters" ng-init="show_filters=true">
			<div class="radio">
				<label>
					<input type="radio" name="map_filter" id="filter_everything" ng-model="$parent.map_filter" value="everything" ng-change="loadChurches()">
					Everything
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="map_filter" id="filter_my_target_area_only" ng-model="$parent.map_filter" value="min_only" ng-change="loadChurches()">
					{{current.assignment.name}} only
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="map_filter" id="filterMyTree" ng-model="$parent.map_filter" value="tree" ng-change="loadChurches()">
					{{current.assignment.name}} + tree
				</label>
			</div>
		</div>
	</div>
	<hr style="margin:8px 0">
	<div>
		<button type="button" class="btn btn-default btn-block btn-sm" ng-click="setMyDefaultMapView()">Set as my Ministry Default View</button>
		<button type="button" class="btn btn-default btn-block btn-sm" ng-click="setMinistryDefaultView()" ng-if="current.hasRole(['leader', 'inherited_leader'])">Set Ministry Default View for others</button>
	</div>
</div>

<div id="map_controls" class="map-controls" ng-show="current.isLoaded" ng-init="mapExpended=false" ng-class="(mapExpended==true)?'map-search-expand':'map-search-collapse'">
	<div class="pull-left map-search">
		<div class="input-group">
			<input id="searchBox" type="text" class="form-control" placeholder="Search ..." ng-blur="mapExpended=!mapExpended">
			<span title="Click to expand/collapse search" ng-click="mapExpended=!mapExpended" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
		</div>
	</div>
</div>
<style>

</style>