<div id="new_church_window">
	<div class="clearfix"></div>
	<div class='church-window'>
		<h4>New Church Training Activity </h4>

		<table class="table table-condensed">
			<tr>
				<td><b>Name</b></td>
				<td>
					<input id="tbName" type="text" class="form-control input-sm" placeholder="Name" ng-model="new_training.name" />
				</td>
			</tr>
			<tr>
				<td><b>Training Type: </b></td>
				<td>
					<select id="ddlTrainingType" class="form-control input-sm" ng-model="new_training.type" ng-options="s.value as s.text for s in training_types"></select>
				</td>
			</tr>

			<tr>
				<td><b>Date:</b></td>
				<td>
					<input id="tbDate" type="date" class="form-control input-sm" placeholder="yyyy-mm-dd" ng-model="new_training.date" />
				</td>
			</tr>

			<tr>
				<td><b>Participants:</b></td>
				<td>
					<input id="tbParticipants" type="number" class="form-control input-sm" placeholder="(Optional)" ng-model="new_training.participants" min="0" />

				</td>
			</tr>
			<tr>
				<td><b>MCC:</b></td>
				<td>{{current.mcc}}</td>
			</tr>
		</table>

		<div>
			<div class="btn-group btn-group-sm btn-group-justified" role="group">
				<a href class="btn btn-default" ng-click="cancelAddChurch()">Cancel</a>
				<a href class="btn btn-primary" ng-click="addTraining()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Add Training</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
