<div id="new_church_window">
	<div class="clearfix"></div>
	<div class='church-window'>
		<h4 translate>New Church Training Activity</h4>
        <form name="form" novalidate>
		<table class="table table-condensed">
			<tr>
				<td><b translate>Name</b></td>
				<td>
					<input id="tbName" name="name" type="text" class="form-control input-sm" placeholder="Name" ng-model="new_training.name" ng-required="true"/>
                    <small class="help-text" ng-show="form.name.$dirty && form.name.$invalid">
                        <span class="text-danger"  ng-show="form.name.$error.required" translate>Name is required.</span>
                    </small>
				</td>
			</tr>
			<tr>
				<td><b translate>Training Type</b></td>
				<td>
					<select id="ddlTrainingType" class="form-control input-sm" ng-model="new_training.type" ng-options="s.value as s.text for s in training_types" ng-required="true"></select>
				</td>
			</tr>

			<tr>
				<td><b translate>Date</b></td>
				<td>
					<input id="tbDate" type="date" class="form-control input-sm" placeholder="yyyy-mm-dd" ng-model="new_training.date" ng-required="true"/>
				</td>
			</tr>

			<tr>
				<td><b translate>Participants</b></td>
				<td>
					<input id="tbParticipants" type="number" class="form-control input-sm" placeholder="(Optional)" ng-model="new_training.participants" min="0" />

				</td>
			</tr>
			<tr>
				<td><b translate>MCC</b></td>
				<td class="text-uppercase">{{current.mcc}}</td>
			</tr>
		</table>
        </form>
		<div>
			<div class="btn-group btn-group-sm btn-group-justified" role="group">
				<a href class="btn btn-default" ng-click="cancelAddNewIcon()" translate>Cancel</a>
				<a href ng-disabled="form.$invalid" class="btn btn-primary" ng-click="(form.$valid) ? addTraining() : false"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <span translate>Add Training</span></a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
