<div id="new_target_city_window">
    <div class="clearfix"></div>
    <div class='target-city-window'>
        <h4 translate>New Target City </h4>
        <form name="form" novalidate>
        <table class="table table-condensed">
            <tr>
                <td><b translate>Name:</b></td>
                <td>
                    <input type="text" name="name" class="form-control input-sm" maxlength="200" placeholder="Name" ng-model="new_targetCity.name" ng-required="true"/>
                    <small class="help-text" ng-show="form.name.$dirty && form.name.$invalid">
                        <span class="text-danger"  ng-show="form.name.$error.required" translate>Name is required.</span>
                    </small>
                </td>
            </tr>
            <tr ng-if="current.assignment.area_code==='GLBL'">
                <td><b translate>Area:</b></td>
                <td>
                    <select class="form-control input-sm" name="area_code" ng-options="code as name for (code,name) in area_codes" ng-model="new_targetCity.area_code" ng-required="true">
                        <optgroup label="Select an area"></optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <td><b translate>Country:</b></td>
                <td>
                    <select class="form-control input-sm" name="country" ng-options="lang.iso3 as lang.name for lang in ISOCountries" ng-model="new_targetCity.iso_country_code" ng-required="true">
                        <optgroup label="Select country"></optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <td><b translate>Stage:</b></td>
                <td>
                    <select class="form-control input-sm" name="stage" ng-model="new_targetCity.stage" ng-init="new_targetCity.stage=0" ng-change="new_targetCity.substage=''" ng-required="true">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><b translate>Sub Stage:</b></td>
                <td>
                    <select class="form-control input-sm" ng-options="substage.val as substage.name for substage in targetCitySubStages | filter :{ stage : new_targetCity.stage }" ng-model="new_targetCity.substage">
                        <option value="" translate>None</option>
                    </select>
                </td>
            </tr>
        </table>
        </form>
        <div>
            <div class="btn-group btn-group-sm btn-group-justified" role="group">
                <a href class="btn btn-default" ng-click="cancelAddNewIcon()" translate>Cancel</a>
                <a href ng-disabled="form.$invalid" class="btn btn-primary" ng-click="addTargetCity(new_targetCity)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <span translate>Add TargetCity</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
