<div class="admin-item" ng-controller="AdminPreferenceCtrl">
    <div class="panel panel-default">
        <div class="panel-heading"> Admin set default preferences</div>
        <div class="panel-body form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">Preferred Ministry</label>

                <div class="col-sm-8">
                    <select class="form-control" ng-model="options.preferred_ministry" ng-options="ministry.ministry_id as ministry.name for ministry in ministries">
                        <option value="">Default</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Preferred MCC:</label>

                <div class="col-sm-8">
                    <select class="form-control" ng-model="options.preferred_mcc" ng-options="mcc.mcc as mcc.mccLabel for mcc in mccs">
                        <option value="">Default</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Hide Report Tab</label>

                <div class="col-sm-8">
                    <label class="radio-inline"><input type="radio" value="1" ng-model="options.hide_report_tab"> Hide</label>
                    <label class="radio-inline"><input type="radio" value="0" ng-model="options.hide_report_tab"> Show</label>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button type="button" ng-click="savePreference(options)" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
