<div class="row admin-columns" ng-show="ministry">

	<div class="admin-item">
		<div class="panel panel-default">
			<div class="panel-heading">
				<button type="button" class="pull-right btn btn-primary btn-sm" ng-click="addTeamMember()">Add Team Member</button>
				<h3 class="panel-title">Team Members</h3>

				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Role</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="staff in ministry.team_members | orderBy:['first_name', 'last_name']" ng-if="current.user.person_id !== staff.person_id">
						<td>{{staff.first_name}}</td>
						<td>{{staff.last_name}}</td>
						<td>
							<select class="form-control" style="width: 150px;" ng-model="staff.team_role" ng-options="r.value as r.text for r in roles" ng-disabled="!staff.editMode"></select>
						</td>
						<td>
							<a href ng-click="staff.editMode=true; staff.orig_role=staff.team_role;" ng-show="!staff.editMode">Edit</a>
							<a href ng-click="staff.editMode=false; saveRole(staff);" ng-show="staff.editMode">Save</a>
							<a href ng-click="staff.editMode=false; staff.team_role=staff.orig_role" ng-show="staff.editMode">Cancel</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="admin-item">
		<div class="panel panel-default">
			<div class="panel-heading">
				<button type="button" class="pull-right btn btn-primary btn-sm" ng-click="addSubMinistry()">Add Sub Ministry</button>
				<h3 class="panel-title">Child Ministries / Sub Teams</h3>

				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<div ng-repeat="min in current.assignment.sub_ministries">
					<a href ng-click="current.assignment = min">{{min.name}}</a>
				</div>
			</div>
		</div>
	</div>

	<div class="admin-item">
		<div class="panel panel-default">
			<div class="panel-heading">
				<button type="button" class="pull-right btn btn-primary btn-sm" ng-click="addMeasurement()">Add Measurement</button>
				<h3 class="panel-title">Measurements</h3>

				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr ng-repeat="type in measurementTypes">
						<td>{{type.english}}</td>
						<td class="text-right">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="type.visible" btn-radio="true">Show</label>
								<label class="btn btn-default" ng-model="type.visible" btn-radio="false">Hide</label>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-primary pull-right" ng-click="saveDetails()" ng-disabled="saveDetailsResource && !saveDetailsResource.$resolved">Save</button>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="admin-item">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Details</h3>

				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<alert type="{{saveDetailsAlert.type}}" ng-show="saveDetailsAlert" close="saveDetailsAlert = null">{{saveDetailsAlert.msg}}</alert>

				<div class="form-group row">
					<label for="ministryName" class="col-sm-4 control-label">Ministry Name:</label>

					<div class="col-sm-8">
						<input id="ministryName" type="text" class="form-control" ng-model="ministry.name" />
					</div>
				</div>

				<div class="form-group row" ng-show="ableToChangeParentMinistry(ministry.parent_id)">
					<label class="col-sm-4 control-label">Parent Ministry:</label>

					<div class="col-sm-8">
						<select
							name="prent"
							class="form-control"
							ng-model="ministry.parent_id"
							ng-options="m.ministry_id as m.name for m in current.ministries | roleFilter:['leader','inherited_leader'] | orderBy:'name'">
							<option value="">No Parent Ministry</option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 control-label">MCCs:</label>

					<div class="col-sm-8">
						<div class="checkbox" ng-repeat="mcc in mccs">
							<label>
								<input type="checkbox" checklist-model="ministry.mccs" checklist-value="mcc.value"> {{mcc.text}}
							</label>
						</div>
					</div>
				</div>
				<!--
				<div class="form-group row">
					<label class="col-sm-4 control-label">Privacy:</label>

					<div class="col-sm-8">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="ministry.private">
								Private Ministry
							</label>
						</div>
					</div>
				</div>
				-->
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-primary pull-right" ng-click="saveDetails()" ng-disabled="saveDetailsResource && !saveDetailsResource.$resolved">Save Ministry</button>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

</div>
