<div class="modal-header">
    <button type="button" class="close" ng-click="no()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Move member to this team ?</h4>
</div>
<div class="modal-body form-horizontal">
    <ul class="list-unstyled">
        <li>Name: {{member.first_name + ' '+member.last_name}}</li>
        <li>Current Role: {{getRoleName(member.team_role)}}</li>
        <li>Target Team: {{team.name}}</li>
        <li><i class="glyphicon glyphicon-warning-sign text-danger"></i> Current role will be set to self-assigned</li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="no()"><i class="glyphicon glyphicon-remove"></i> No</button>
    <button type="button" class="btn btn-primary" ng-click="yes()"><i class="glyphicon glyphicon-ok"></i> Yes</button>
</div>

