<div class="admin-item">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Admin Preference</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-md-4">Preferred MCC:</label>
                <div class="col-md-8">
                    <select class="form-control" ng-model="options.preferred_mcc">
                        <option value="{{mcc}}" ng-repeat="mcc in current.assignment.mccs | orderBy:mccSort">{{mccLabels[mcc]}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-init="">
                <label class="col-md-4 control-label">Preferred Ministry</label>
                <div class="col-md-8">
                    <select class="form-control" ng-model="options.preferred_ministry" ng-options="ministry.ministry_id as ministry.name for ministry in ministries">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Hide analysis graphs</label>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" ng-model="options.hide"> Check to hide by default</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
