<div class="modal-header">
	<button type="button" class="close" ng-click="close();">
		<span aria-hidden="true">&times;</span><span class="sr-only" translate>Close</span>
	</button>
	<h2 class="modal-title">{{measurement.name}}
		<small>{{current.period.format('YYYY-MM')}}</small>
	</h2>
	<div class="well well-sm measurement-desc" ng-show="measurement.description">{{measurement.description}}</div>
</div>
<div class="modal-body" ng-show="spinner" ng-include="'partials/spinner.html'"></div>
<div class="modal-body edit_meas_form" ng-hide="spinner">
	<div id="measurement_graph" gma-trend ng-model="trend"></div>

	<form class="form-horizontal" name="editForm">

		<div class="form-group">
			<label class="col-xs-5 control-label" translate>TOTAL</label>

			<div class="col-xs-7">
				<input class="form-control" type="number" ng-model="details.total[current.period.format('YYYY-MM')]" disabled />
			</div>
		</div>

		<!-- Local Breakdown -->
		<fieldset ng-init="localToggle=false">
			<legend class="pointer" ng-click="localToggle=!localToggle">{{current.assignment.name}} (<span translate>Local Team</span>)
					<span class="glyphicon pull-right"
						  ng-class="{'glyphicon-triangle-left': !localToggle, 'glyphicon-triangle-bottom': localToggle}">
					</span>
			</legend>
			<div ng-if="current.hasRole(['admin','inherited_admin','leader', 'inherited_leader'])" ng-show="localToggle">
				<div class="form-group" ng-class="{'has-error': !editForm.local.$valid}">
					<label class="col-xs-5 control-label" translate>Local</label>

					<div class="col-xs-7">
						<input class="form-control" type="number" placeholder="Local Team" name="local" ng-model="details.local_breakdown[ns]" />
					</div>
				</div>
				<div ng-show="localToggle" class="form-group" ng-repeat="(name, value) in filterSource(details.local_breakdown)">
					<label class="col-xs-5 control-label text-capitalize">{{name}}</label>

					<div class="col-xs-7">
						<input class="form-control" type="number" disabled ng-model="value" />
					</div>
				</div>
			</div>
			<div ng-if="current.hasRole('member')" ng-show="localToggle">
				<div class="form-group">
					<label class="col-xs-5 control-label" translate>Total</label>

					<div class="col-xs-7">
						<input class="form-control" type="number" ng-model="details.local_breakdown.total" disabled />
					</div>
				</div>
			</div>
		</fieldset>

		<!-- Team Members -->
		<fieldset ng-init="teamToggle=false">
			<legend class="pointer" ng-click="teamToggle=!teamToggle"><span translate>Team Members</span>
					<span class="glyphicon pull-right"
						  ng-class="{'glyphicon-triangle-left': !teamToggle, 'glyphicon-triangle-bottom': teamToggle}">
					</span>
			</legend>
			<div class="form-group" ng-class="{'has-error': !editForm.person.$valid}" ng-if="current.hasRole(['member','leader','admin'])">
				<label class="col-xs-5 control-label">{{current.user.last_name}}, {{current.user.first_name}}</label>

				<div class="col-xs-7">
					<input class="form-control" type="number" placeholder="Personal" name="person" ng-model="details.self_breakdown[ns]" />
				</div>
			</div>
			<div ng-show="teamToggle">
                <!-- hide former_member member with total =0 -->
				<div class="form-group" ng-repeat="member in details.team | orderBy : 'first_name'" ng-hide="(member.team_role==='former_member' && member.total===0)" ng-if="current.hasRole(['admin','inherited_admin','leader', 'inherited_leader'])">
					<label class="col-xs-5 control-label">{{member.last_name}}, {{member.first_name}}</label>

					<div class="col-xs-7">
						<input class="form-control" type="number" ng-model="member.total" disabled />
					</div>
				</div>
			</div>
		</fieldset>

		<!-- Sub Ministries -->
		<fieldset ng-if="details.sub_ministries.length" ng-init="ministryToggle = false">
			<legend class="pointer" ng-click="ministryToggle=!ministryToggle"><span translate>Sub-Ministries / Teams</span>
					<span class="glyphicon pull-right"
						  ng-class="{'glyphicon-triangle-left': !ministryToggle, 'glyphicon-triangle-bottom': ministryToggle}">
					</span>
			</legend>
			<div ng-show="ministryToggle">
				<div class="form-group" ng-repeat="ministry in details.sub_ministries">
					<label class="col-xs-5 control-label">{{ministry.name}}</label>

					<div class="col-xs-7">
						<input class="form-control" type="number" disabled ng-model="ministry.total" />
					</div>
				</div>
			</div>
		</fieldset>

		<!-- Self Assigned -->
		<fieldset ng-init="selfToggle=false" ng-if="current.hasRole(['admin','inherited_admin','leader', 'inherited_leader']) && details.self_assigned.length">
			<legend class="pointer" ng-click="selfToggle=!selfToggle"><span translate>Self Assigned Members (not yet approved)</span>
					<span class="glyphicon pull-right"
						  ng-class="{'glyphicon-triangle-left': !selfToggle, 'glyphicon-triangle-bottom': selfToggle}">
					</span>
			</legend>
			<div ng-show="selfToggle">
				<div class="form-group" ng-repeat="member in details.self_assigned">
					<label class="col-xs-5 control-label">{{member.last_name}}, {{member.first_name}}</label>

					<div class="col-xs-7">
						<div class="input-group col-xs-7" ng-class="{'has-success':member.success, 'has-error':member.blocked}">
							<input class="form-control" type="number" ng-model="member.total" disabled />

							<div class="input-group-btn" dropdown>
								<button class="btn btn-default dropdown-toggle"
										dropdown-toggle
										aria-expanded="false"
										ng-disabled="member.state"
										ng-class="{'btn-success':member.success, 'btn-danger':member.blocked}">
                                            <span ng-switch="member.state">
                                                <span ng-switch-when="success" translate>Approved</span>
                                                <span ng-switch-default translate>Approve</span>
                                            </span>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="javascript:void(0)" ng-click="approveSelfAssigned(member, 'admin')" translate>Admin</a></li>
									<li><a href="javascript:void(0)" ng-click="approveSelfAssigned(member, 'member')" translate>Member</a></li>
									<li><a href="javascript:void(0)" ng-click="approveSelfAssigned(member, 'leader')" translate>Leader</a></li>
									<li role="presentation" class="divider"></li>
									<li><a href="javascript:void(0)" ng-click="approveSelfAssigned(member, 'blocked')" translate>Delete</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="close()"><i class="glyphicon glyphicon-remove"></i> <span translate>Close</span></button>
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="!editForm.$valid || spinner"><i class="glyphicon glyphicon-pencil"></i> <span translate>Save Measurements</span></button>
</div>
