<div ng-switch="current.assignment.team_role">
	<div class="lmi-item self_assigned" ng-switch-when="self_assigned" ng-if="checkMeasureState(m)">
		<div class="lmi-item-name">{{m.name}}</div>
		<div class="lmi-input-group">
			<input type="number"
				   min="0"
				   class="form-control"
				   id="{{m.measurement_type_ids.person}}"
				   name="{{m.measurement_type_ids.person}}"
				   ng-model="m.person"
				   select-on-focus>
			<label class="lmi-input-addon" for="{{m.measurement_type_ids.person}}" translate>personal</label>
		</div>
	</div>

	<div class="lmi-item member" ng-switch-when="member" ng-if="checkMeasureState(m)">
		<div class="lmi-item-name" ng-click="toggleMeasurementState(measurementState,m.perm_link_stub)" ng-class="(measurementState[m.perm_link_stub]===1)? 'measurement-collapsed':'measurement-expanded'">{{m.name}}</div>
		<div collapse="getExpandCollapse(measurementState[m.perm_link_stub])">
			<div class="lmi-item-section col-xs-6">
				<div class="lmi-input-group">
					<input type="number"
						   min="0"
						   class="form-control {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}"
						   id="{{m.measurement_type_ids.person}}"
						   name="{{m.measurement_type_ids.person}}"
						   ng-model="m.person"
						   select-on-focus>
					<label class="lmi-input-addon {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}" for="{{m.measurement_type_ids.person}}" translate>personal</label>
				</div>
			</div>
			<div class="lmi-item-section col-xs-6" ng-click="editMeasurementDetails(m);" style="cursor: pointer;">
				<div class="lmi-input-group">
					<div class="form-control total {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}">{{m.total}}</div>
					<label class="lmi-input-addon {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}" translate>total</label>
				</div>
			</div>
			<span class="clearfix"></span>
		</div>
	</div>

	<div class="lmi-item leader" ng-switch-when="leader" ng-if="checkMeasureState(m)">
		<div class="lmi-item-name" ng-click="toggleMeasurementState(measurementState,m.perm_link_stub)" ng-class="(measurementState[m.perm_link_stub]===1)? 'measurement-collapsed':'measurement-expanded'">{{m.name}}</div>
		<div collapse="getExpandCollapse(measurementState[m.perm_link_stub])">
			<div class="lmi-item-section col-xs-4">
				<div class="lmi-input-group">
					<input type="number"
						   min="0"
						   class="form-control {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}"
						   id="{{m.measurement_type_ids.person}}"
						   name="{{m.measurement_type_ids.person}}"
						   ng-model="m.person"
						   select-on-focus>
					<label class="lmi-input-addon {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}" for="{{m.measurement_type_ids.person}}" translate>personal</label>
				</div>
			</div>
			<div class="lmi-item-section col-xs-4">
				<div class="lmi-input-group">
					<input type="number"
						   class="form-control {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}"
						   id="{{m.measurement_type_ids.local}}"
						   name="{{m.measurement_type_ids.local}}"
						   ng-model="m.local"
						   select-on-focus>
					<label class="lmi-input-addon {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}" for="{{m.measurement_type_ids.local}}" translate>local</label>
				</div>
			</div>
			<div class="lmi-item-section col-xs-4" ng-click="editMeasurementDetails(m);" style="cursor: pointer;">
				<div class="lmi-input-group">
					<div class="form-control total {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}">{{m.total}}</div>
					<label class="lmi-input-addon {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}" translate>total</label>
				</div>
			</div>
			<span class="clearfix"></span>
		</div>
	</div>

	<div class="lmi-item leader" ng-switch-when="admin" ng-if="checkMeasureState(m)">
		<div class="lmi-item-name" ng-click="toggleMeasurementState(measurementState,m.perm_link_stub)" ng-class="(measurementState[m.perm_link_stub]===1)? 'measurement-collapsed':'measurement-expanded'">{{m.name}}</div>
		<div collapse="getExpandCollapse(measurementState[m.perm_link_stub])">
			<div class="lmi-item-section col-xs-4">
				<div class="lmi-input-group">
					<input type="number"
						   min="0"
						   class="form-control {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}"
						   id="{{m.measurement_type_ids.person}}"
						   name="{{m.measurement_type_ids.person}}"
						   ng-model="m.person"
						   select-on-focus>
					<label class="lmi-input-addon {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}" for="{{m.measurement_type_ids.person}}" translate>personal</label>
				</div>
			</div>
			<div class="lmi-item-section col-xs-4">
				<div class="lmi-input-group">
					<input type="number"
						   class="form-control {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}"
						   id="{{m.measurement_type_ids.local}}"
						   name="{{m.measurement_type_ids.local}}"
						   ng-model="m.local"
						   select-on-focus>
					<label class="lmi-input-addon {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}" for="{{m.measurement_type_ids.local}}" translate>local</label>
				</div>
			</div>
			<div class="lmi-item-section col-xs-4" ng-click="editMeasurementDetails(m);" style="cursor: pointer;">
				<div class="lmi-input-group">
					<div class="form-control total {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}">{{m.total}}</div>
					<label  class="lmi-input-addon {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}" translate>total</label>
				</div>
			</div>
			<span class="clearfix"></span>
		</div>
	</div>

	<div class="lmi-item inherited_leader" ng-switch-when="inherited_leader" ng-if="checkMeasureState(m)">
		<div class="lmi-item-name" ng-click="toggleMeasurementState(measurementState,m.perm_link_stub)" ng-class="(measurementState[m.perm_link_stub]===1)? 'measurement-collapsed':'measurement-expanded'">{{m.name}}</div>
		<div collapse="getExpandCollapse(measurementState[m.perm_link_stub])">
			<div class="lmi-item-section col-xs-6">
				<div class="lmi-input-group" ng-click="toggleMeasurementState(measurementState,m.perm_link_stub)" ng-class="(measurementState[m.perm_link_stub]===1)? 'measurement-collapsed':'measurement-expanded'">
					<input type="number"
						   class="form-control {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}"
						   id="{{m.measurement_type_ids.local}}"
						   name="{{m.measurement_type_ids.local}}"
						   ng-model="m.local"
						   select-on-focus>
					<label class="lmi-input-addon" for="{{m.measurement_type_ids.local}}" translate>local</label>
				</div>
			</div>
			<div class="lmi-item-section col-xs-6" ng-click="editMeasurementDetails(m);" style="cursor: pointer;">
				<div class="lmi-input-group">
					<div class="form-control total {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}">{{m.total}}</div>
					<label class="lmi-input-addon {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}" translate>total</label>
				</div>
			</div>
			<span class="clearfix"></span>
		</div>
	</div>

	<div class="lmi-item inherited_leader" ng-switch-when="inherited_admin" ng-if="checkMeasureState(m)">
		<div class="lmi-item-name" ng-click="toggleMeasurementState(measurementState,m.perm_link_stub)" ng-class="(measurementState[m.perm_link_stub]===1)? 'measurement-collapsed':'measurement-expanded'">{{m.name}}</div>
		<div collapse="getExpandCollapse(measurementState[m.perm_link_stub])">
			<div class="lmi-item-section col-xs-6">
				<div class="lmi-input-group">
					<input type="number"
						   class="form-control  {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}"
						   id="{{m.measurement_type_ids.local}}"
						   name="{{m.measurement_type_ids.local}}"
						   ng-model="m.local"
						   select-on-focus>
					<label class="lmi-input-addon  {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}" for="{{m.measurement_type_ids.local}}" translate>local</label>
				</div>
			</div>
			<div class="lmi-item-section col-xs-6" ng-click="editMeasurementDetails(m);" style="cursor: pointer;">
				<div class="lmi-input-group">
					<div class="form-control total  {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}">{{m.total}}</div>
					<label class="lmi-input-addon  {{(measurementState[m.perm_link_stub]===1)? '':'measurement-expanded-text'}}" translate>total</label>
				</div>
			</div>
			<span class="clearfix"></span>
		</div>
	</div>

</div>
