<div ng-show="current.isLoaded">
    <aside class="pull-left col-md-6 col-lg-8 stories-section">
        <section class="row panel panel-default panel-custom">
            <div class="panel-body">
            <div class="pull-left">

                <label title="Toggle" class="checkbox-inline"><input type="checkbox" ng-change="searchStories(1,storiesParams)" ng-model="storiesParams.self_only" > <span translate>Created by me</span></label>

            </div>
            <div class="pull-right">
                <button class="btn btn-default btn-sm" ng-click="searchStories(1,storiesParams)" type="button" title="Refresh List"><i class="glyphicon glyphicon-refresh"></i><span class="sr-only" translate>Refresh List</span></button>
                <button class="btn btn-primary btn-sm" ng-click="newStory()"><i class="glyphicon glyphicon-plus"></i> <span translate>Add story</span></button>
            </div>
            <div class="clearfix"></div>
           </div>
        </section>
        <section ng-hide="storiesLoaded==false">
            <div class="stories-holder">
                    <div class="media media-custom" ng-repeat="story in visibleStories | orderBy : '-created_at'">
                    <div class="media-left media-middle">
                        <a ng-click="viewStory(story)" title="View" href="javascript:void(0)" class="thumbnail thumb-128">
                            <img class="media-object" ng-src="{{(story.image_url===undefined || story.image_url=='') ? versionUrl('img/story-128.png') : story.image_url+'?v='+story.updated_at}}" alt="image" height="128" width="128">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a ng-click="viewStory(story)" href="javascript:void(0)">{{story.title}}</a></h4>
                        <p class="story-content">{{story.content}}</p>
                        <ul class="list-inline">
                            <li ng-show="storiesParams.self_only===true"><span class="text-capitalize label" ng-class="{'label-success': (story.state==='published'), 'label-default' : (story.state=='draft'), 'label-danger' : (story.state=='removed')}">{{story.state}}</span></li>
                            <li ng-hide="storiesParams.self_only===true"><i class="glyphicon glyphicon-user"></i> {{story.created_name}}</li>
                            <li><i class="glyphicon glyphicon-time"></i> <time> {{story.created_at | date: 'MMM-dd-yyyy'}}</time></li>
                            <li><i class="glyphicon glyphicon-tag"></i> <span>{{story.ministry_name}}</span><span ng-if="story.mcc">,</span> <span class="text-uppercase">{{story.mcc}}</span></li>
                            <li ng-show="story.church_name"><i class="glyphicon glyphicon-map-marker"></i> {{story.church_name}}</li>
                            <li ng-show="story.training_name"><i class="glyphicon glyphicon-education"></i> {{story.training_name}}</li>
                            <li ng-if="isStoryEditable(story)"><a title="Edit story" ng-click="editStory(story)" href="javascript:void(0)"><i class="glyphicon glyphicon-pencil"> </i> <span translate>Edit</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="text-center"  ng-if="storiesLoaded==true && visibleStories.length==0">
                    <h4><i class="glyphicon glyphicon-info-sign"></i> <span translate>No story found</span></h4>
                </div>
            </div>
            <!--.list media-->
            <nav class="stories-nav" ng-hide="visibleStories.length==0">
                <pager ng-change="searchStories(storiesNav.currentPage,storiesParams)" total-items="storiesNav.totalItems" ng-model="storiesNav.currentPage" items-per-page="storiesNav.perPage" next-text="{{'Older'|translate}} »" previous-text="« {{'Newer'|translate}}"></pager>
            </nav>
        </section>
        <div ng-include="'partials/spinner.html'" ng-hide="storiesLoaded==true"></div>
    </aside><!-- .stories-section-->
    <aside class="pull-right col-md-6 col-lg-4 news-feed-section">
        <div class="news-feeds-holder" ng-hide="feedsLoaded==false || (recentNewsFeeds.length===0)">
            <span class="refresh-feeds" ng-click="loadNewsFeeds(1)" title="Refresh"><i class="glyphicon glyphicon-refresh"></i><span class="sr-only" translate>Refresh Feeds</span></span>
            <ul class="list-group news-feed-ul">
            <li class="list-group-item" ng-repeat="feed in recentNewsFeeds | orderBy : '-timestamp'">
                <h5 class="list-group-item-heading"><i class="glyphicon glyphicon-time"></i> <b><time> {{feed.timestamp | date: 'MMM-dd-yyyy'}} </time> | {{feed.ministry_name}}</b></h5>
                <p class="list-group-item-text">{{feed.message}}</p>
            </li>
            </ul>
        </div>
        <nav class="feeds-nav" ng-hide="recentNewsFeeds.length==0 || feedsLoaded==false">
            <pager ng-change="loadNewsFeeds(feedsNav.currentPage)" total-items="feedsNav.totalItems" ng-model="feedsNav.currentPage" items-per-page="feedsNav.perPage" next-text="{{'Older'|translate}} »" previous-text="« {{'Newer'|translate}}"></pager>
        </nav>
        <div class="text-center" ng-if="feedsLoaded==true && recentNewsFeeds.length==0">
            <h4><i class="glyphicon glyphicon-info-sign"></i> No activity yet</h4>
        </div>
        <div ng-include="'partials/spinner.html'" ng-hide="feedsLoaded==true"></div>
    </aside>
    <div class="clearfix"></div>
</div>
