.tab-content {
	border: 1px solid #ddd;
	border-top-width: 0;
	border-radius: 0 0 4px 4px;
	padding: 15px;
}
.admin-item {
	padding: 10px 15px 15px;
	width: 100%;
}

.map_legend {
	width: 100%;
	color: #888;
}

.map_legend_icon {
	height: 30px;
}

.map_legend_header {
	width: 100%;
	border-bottom: 1px solid #f0efef;
	margin-bottom: 15px;
	text-align: center;
	cursor: pointer;
}

.map_legend_header span {
	position: relative;
	top: 6px;
	background-color: #fff;
	padding: 0px 20px;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 10px;
	color: #888;
}

.map-controls {
	/*width: 300px;*/
	padding: 20px;
}

.map_side {
	padding: 15px;
	width: 240px;
	margin-bottom: 30px;
	background-color: #fff;
	border: 1px solid #ccc;
	opacity: 1;
	overflow: hidden;
	display: none;
}

.church-mode {
	position: absolute;
	padding: 0 5px;
	z-index: 999;
}

.gm-style-iw {
	overflow-y: auto;
}

.church-grid img {
	height: 25px;
}

.map-legend {
	/*height: 200px;*/
	bottom: 0;
}

#measurement_graph {
	width: 100%;
}

.jf_label {
	background-color: yellow;
	color: black;
	font-size: 10px;
	font-weight: bold;
	border: 1px solid #8a890b;
	white-space: nowrap;
	padding: 0 3px;
	box-shadow: 0 0 3px #888888;
	position: absolute;
}

.church-window {
	min-width: 300px;
	/*height: 150px;*/
}

.training-window {
	min-width: 400px;
	/*height: 150px;*/
}

.gm-style-iw div {
	display: inline;
}

.clusterMarker {
	color: white !important;
	font-size: large;
	font-weight: bold;
	text-align: center;
	width: 60px;
}

.labelMarker {
	color: #333;
	pointer-events: none;
	text-align: center;
	width: 60px;

	text-shadow: 0px 0px 5px #fff,
	-1px -1px 0 #fff,
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}

.labelMoveMarker {
	color: #000;
	pointer-events: none;
	text-align: center;
	width: 100px;
	opacity: 0.75;
	font-size: large;
	font-weight: bold;
	box-shadow: #eeee00 30px 30px inset;
}

.ministry-title {
	font-size: xx-large;
	color: white !important;

}

.meas_table_lbl {
	text-align: right;
}

.map-search {
	width: 300px;
}

.map-mode {
	padding: 2px;
}

.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	width: 100%;

}

.church-grid .ngViewport {
	overflow: inherit;
}

.btn-map-add {
	height: 52px;

}

.map-trained-count {
	background-color: #4aff00;
	padding: 2px;
	color: black;
	border: 1px solid black !important;
	margin: 4px;
}

.map-training-date {
	width: 130px;
	line-height: inherit !important;
}

.map-training-number {
	width: 60px;
	line-height: inherit !important;
}

/* Measurements */
.numeric {
	width: 85px;
	float: left;
}

.sub_value {
	width: 65px;
	float: left;
	border: none;
}

.total_value {
	font-weight: bold;
	font-size: large;
}

.green {
	color: green;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	background-color: #000;
}

.pointer {
	cursor: pointer;
}

.gmaApplication.development .navbar {
	background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
	background-image: -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
	background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #3e8f3e;
}

.gmaApplication.development .navbar .navbar-nav > .open > a {
	background-image: none;
	background-color: #419641;
}

.gmaApplication.stage .navbar {
	background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
	background-image: -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
	background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #245580;
}

.gmaApplication.stage .navbar .navbar-nav > .open > a {
	background-image: none;
	background-color: #265a88;
}

.gmaApplication.development .navbar-brand,
.gmaApplication.development .navbar-nav > li > a,
.gmaApplication.stage .navbar-brand,
.gmaApplication.stage .navbar-nav > li > a {
	color: #ddd;
}

.gmaApplication.development .navbar-brand:hover,
.gmaApplication.development .navbar-nav > li > a:hover,
.gmaApplication.stage .navbar-brand:hover,
.gmaApplication.stage .navbar-nav > li > a:hover {
	color: white;
}

.btn-my-location span.glyphicon {
	font-size: 20px;
}

/*map search box expand collapse behaviour*/
.map-search-collapse div.map-search{
	width: 0;
}
.map-search-collapse input[type='text']{
	width: 0!important;
	border: none;
	padding: 0;
}
.map-search-collapse span.input-group-addon{
	border-radius: 50%;
}
div.map-search span.input-group-addon{
	cursor: pointer;
}
div.map-search{
	transition: width 0.3s ease;
}
/*fix too long names in table*/
td.no-overflow{
	overflow: hidden;
	max-width: 250px;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}
td.no-overflow:hover{
	text-overflow: inherit;
	white-space: normal;
	word-wrap: break-word;

}
/* add user role to top */
.top-user-info {
    margin-right: 5px;
	margin-top: -4px;
}

.top-user-name {
    display: block;
    text-align: right;
    margin-top: -5px;
}

.top-user-role {
    display: block;
    text-align: right;
    margin: 0;
}

/*team member drag and drop system*/
.teams-list {
	height: 100%;
	overflow: auto;
	padding: 10px 5px;
	box-sizing: border-box;
	border-right: 1px solid #ccc;
	background: #f5f5f5;
	max-width: 25%;
}

.teams-list ul {
	list-style: none;
	padding: 0 0 0 24px;
}

.teams-list > ul{
	padding-left: 0;
}

.teams-list ul li {
	white-space: nowrap;
	vertical-align: top;
}

.teams-list ul li span.outer {
	padding: 4px 8px;
	display: block;
	cursor: pointer;
	font-size: 16px;
	border-radius: 3px;
	margin: 2px 0;
}

.teams-list ul > li > span.outer:hover {
	background: rgb(209, 209, 209);
	transition: background 0.3s ease;
}

.teams-list ul > li span.outer.active {
	background: #337ab7;
	color: white;
}
.teams-list ul > li span.active:hover{
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.teams-list ul > li > span.outer > i {
	margin-right: 5px;
	vertical-align: middle;
}

.members-list {
	padding: 4px;
}
.members-table tbody tr td{
	vertical-align: middle;
}

.ui-draggable:not(.ui-draggable-disabled) {
    cursor: move;
}

.ui-draggable.ui-draggable-disabled {
    cursor: no-drop;
}

.drag-member {
	background: #f5f5f5;
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px rgba(33, 33, 33, 0.5);
	cursor: pointer;
	opacity: 0.9;
}
.drag-member td{
	padding: 5px;
	border-right: 1px solid #ccc;
}
.drag-member td:last-child{
	border-right: none!important;
}
.drag-team{
	background: #f5f5f5;
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px rgba(33, 33, 33, 0.5);
	cursor: pointer;
	padding: 4px 8px;
	opacity: 0.9;
}
.drag-team i{
	border-right: 1px solid #ccc;
	padding: 0 2px;
}
.drag-on-over{
	padding: 2px 6px!important;
	background: #337ab7;
	color:#fff;
	border: 1px dashed #fff;
	border-radius: 3px;
	box-shadow: 0 0 0 2px #337ab7,0 4px 8px rgba(0,0,0,0.4);
}

/* measurement expand and collapse states */
.measurement-expanded {
    cursor: pointer;
    background-color: #337ab7 !important;
}

.measurement-collapsed {
    cursor: pointer;
    background-color: #777777 !important;
}

/*angular growl position*/
.growl-container {
    margin-top: 50px;
}

/* stories and news*/
.thumb-128 {
    max-height: 128px;
    width: 128px;
    overflow: hidden;
}

.stories-holder {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.story-content {
    overflow: hidden;
    max-height: 75px;
    height: 75px;
    text-overflow: ellipsis;
}

.image-holder, .news-feeds-holder {
    position: relative;
}

.image-holder i {
    position: absolute;
    top: -5px;
    right: -8px;
    font-size: 16px;
    cursor: pointer;
}

.image-holder i:hover {
    color: #da0000;
}

.refresh-feeds {
    position: absolute;
    top: -8px;
    cursor: pointer;
    font-size: 16px;
    right: -8px;
    z-index: 1;
    padding: 3px 4px 4px;
    background: #337ab7;
    color: #fff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    opacity: 0.8;
}

.refresh-feeds:hover {
    opacity: 1;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.4);
}

.panel-custom {
    margin-bottom: 0;
}

.panel-custom .panel-body {
    padding: 10px;
}

.media-custom:not(:last-child) {
    border-bottom: 1px solid #eee;
}

/*for ministry drop-down menu*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 6px 0 6px 6px;
}